body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color: #154360;
}

.quem-somos{
    background-color: #5DADE2;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: paleturquoise;
}

.bg-footer{
    background-color: black;
    color: white;
}

